<section class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="hero-text" data-aos="fade-right">
                <h1>Trouver, Réserver & Have Fun</h1>
                <p>Découvrez et réservez les meilleurs terrains de sport en Tunisie. Une expérience simple et rapide pour tous les passionnés de sport.</p>
            </div>
            <div class="hero-search" data-aos="fade-left">
                <app-search-form></app-search-form>
            </div>
        </div>
    </div>
</section>
